.user-msg {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  border-radius: 10px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-msg img {
  width: 200px;
  height: 200px;
}
.user-msg button {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
.success {
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.737);
  border-radius: 6px;
  background-color: rgb(255, 255, 255);
  color: black;
}
.error {
  background-color: rgb(187, 104, 104);
}
