.mails-list ul{
    list-style-type: none;
    padding: 0;
}

.mails-list ul li {
    display: grid;
    grid-template-columns: 1fr 18fr 1fr 1fr 1fr;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

.mails-list ul li:hover {
    border: 1px solid rgb(167, 165, 165);
    box-shadow: 0 0 3px;
}

.mails-list ul li:hover > .actions{
    visibility: visible;
}

.mails-list ul .mail-read {
    background-color: #cfdcf63d;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

.mails-list ul li .actions{
    visibility: hidden;
}

.mail-star {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    margin: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}

.mail-star:hover {
    background-color: lightgray;
    border-radius: 50px;
}

.mail-preview {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.mail-preview .mail-subject {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.mail-preview .mail-date{
    margin: 0;
}

.read p {
    font-weight: normal
}

.not-read p {
    font-weight: bold
}