.mail-details {
    width: 100%;
    display: flex;
    padding: 20px;
    background-color: white;
    border-radius: 30px;
    margin: 15px;
}

.mail-details .mail-details-info {
    width: -webkit-fill-available;
    color: black;
    padding: 20px;
}

.mail-details .mail-details-info .mail-details-to {
    display: flex;
    justify-content: space-between;
}

.mail-details .mail-details-info .mail-details-to p{
    margin: 0;
}