.mails-list ul{
    list-style-type: none;
    padding: 0;
}

.mails-list ul li {
    display: grid;
    grid-template-columns: 1fr 20fr;
    padding: 0 5px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

.mails-list ul li:hover {
    border: 1px solid rgb(167, 165, 165);
    box-shadow: 0 0 3px;
}

.mails-list ul .mail-read:hover .actions{
    background-color: #eef2f8;
}

.mails-list ul li .actions{
    display: none;
    align-items: center;
    justify-content: center;
}

.mails-list ul li .actions i:hover {
    background-color: lightgray;
    border-radius: 50px;
}

.mails-list ul li .actions i{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.mails-list ul .mail-read {
    background-color: #eef2f8;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

.mails-list ul li .mail-checkbox {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    margin: auto;
    border: none;
    background-color: transparent;
}

.mails-list ul li .mail-checkbox:hover {
    background-color: lightgray;
    border-radius: 50px;
}

.mails-list ul li .mail-star {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    margin: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}

.mails-list ul li .mail-star:hover {
    background-color: lightgray;
    border-radius: 50px;
}

.mail-preview {
    display: grid;
    grid-template-columns: 2fr 4fr 1fr;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    gap: 10px;
}

.mail-preview .mail-subject {
    margin: 0;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.mail-preview .mail-body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.mail-preview .mail-date{
    margin: 0;
}

.read p {
    font-weight: normal
}

.not-read p {
    font-weight: bold
}

@media(min-width:800px) {
    .mails-list ul li:hover > .actions{
        display: flex;
        height: 50px;
        position: fixed;
        background-color: white;
        right: 16px;
        width: 160px;
    }
}

@media(max-width: 800px) {
    .mail-preview {
        display: grid;
        grid-template-columns: 5fr 1fr;
        align-items: center;
        justify-content: space-between;
        height: 100%;
    }

    .mails-list ul li {
        display: grid;
        grid-template-columns: 1fr 20fr;
        grid-template-rows: 1fr 1fr;
    }

    .mails-list ul li .mail-preview .mail-body {
        display: none;
    }

    .mails-list ul li .actions{
        display: flex;
        grid-column: 1 / span 3;
        align-items: center;
        justify-content: center;
    }
}
