.menu-filter .menu-header{
    height: 50px;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px 20px;
    background-color: #c7daff3d;
}

.menu-filter .menu-header p{
    font-size: x-large;
    margin: 0;
}

.menu-filter .menu-header .gmail-logo{
    height: 25px;
    width: 30px;
}

.menu-filter .menu-header i {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-filter .menu-header i:hover {
    background-color: lightgray;
    border-radius: 50px;
}
